<div class="container text-center p-4">
  <h2 class="mb-4">Welcome in Smarty Universe</h2>
  <div class="button-container">
    <button class="circle-button" [routerLink]="'/admin/customers'">
      <span class="button-icon"><i class="fas fa-person"></i></span>
      <span class="button-text">Accounts</span>
    </button>
    <button class="circle-button">
      <span class="button-icon"><i class="fas fa-university"></i></span>
      <span class="button-text">Bank</span>
    </button>
    <button class="circle-button">
      <span class="button-icon"><i class="fas fa-photo-film"></i></span>
      <span class="button-text">Factures</span>
    </button>
    <button class="circle-button" [routerLink]="'/admin/taskadmin'">
      <span class="button-icon"><i class="fas fa-tasks"></i></span>
      <span class="button-text">Tasks</span>
    </button>


  </div>
</div>
